body {
  margin: 0px;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #ffffff;
}

#perfil {
  border-radius: 50%;
  margin: 100px 15% auto auto;
  width: 250px;
  display: flex;
}

#nome {
  font-size: 5rem;
  color: #939393;
  font-weight: 300;
  margin-left: 110px;
  margin-top: 100px;
  margin-bottom: -10px;
  display: flex;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#sobrenome {
  font-size: 7.5rem;
  color: #607d8b;
  display: flex;
  margin-left: 109px;
  margin-top: -10px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

table td {
  padding: 5px 15px 10px 60px;
  color: #707070;
}

table {
  display: flex;
  margin-left: 120px;
  font-size: 13px;
}

table #Elemento1 {
  padding: 5px 10px 10px 0px;
}

.mobile {
  display: none;
}

.titulo {
  font-weight: 700;
  color: #707070;
}

p {
  color: #707070;
}

hr {
  display: flex;
  margin-left: 110px;
  border: 1px solid rgb(212, 212, 212);
  max-width: 570px;
}

table a, a:visited {
  text-decoration: none;
  color: #707070;
}

table a:hover {
  color: #F8BB10;
  transition: 200ms;
}

.tituloLateral {
  color: #727272;
  font-size: 30px;
  text-align: right;
  margin-right: 10%;
  text-transform: uppercase;
}

.subtituloLateral {
  color: #727272;
  text-align: right;
  margin: -10px 20% 0px 0px;
}

.apresentacao {
  margin: 50px auto auto 10%;
  max-width: 700px;
}

.nome-tecnologias {
  text-align: center;
  margin-right: 15%;
  color: #727272;
  transition: 400ms;
  font-size: 18.72px;
}

.contatos {
  display: grid;
  grid-template-columns: 1fr;
  color: #707070;
  margin-left: 60px;
}

#carousel {
  max-width: 800px;
}

.grid {
  display: grid;
  grid-template-columns: 3fr 7fr repeat(3, 0);
  grid-template-rows: 1fr 0.5fr 0.4fr 0.35fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .div1 { grid-area: 1 / 1 / 2 / 2; }
  .div2 { grid-area: 1 / 2 / 2 / 3; }
  .div3 { grid-area: 2 / 1 / 3 / 2; }
  .div4 { grid-area: 2 / 2 / 3 / 3; }
  .div5 { grid-area: 3 / 1 / 4 / 2; }
  .div6 { grid-area: 3 / 2 / 4 / 3; }
  .div7 { grid-area: 4 / 1 / 5 / 2; }
  .div8 { grid-area: 4 / 2 / 5 / 3; }

.div1 {
  height: 500px;
  background-color: #fcfcfc;
}

.div3, .div7 {
  background-color: #f8f8f8;
}

.div4, .div5, .div9, .div8 {
  background-color: #fcfcfc;
}

.div5, .div6 {
  height: 225px;
}

div.popupLinks {
  display: block;
  margin-left: 495px;
  margin-top: -38px;
}

 .popupLinks a {
  color:rgb(151, 151, 151);
  background: #ececec;
  border-radius:4px;
  text-align: center;
  text-decoration: none;
  font-family: fontawesome, academicons;
  position: relative;
  display: inline-block;
  width: 40px;
  height: 28px;
  padding-top: 12px;
  margin: 0 2px;
  transition: all 300ms;
} 

.popupLinks a:hover {
  background: rgb(189, 189, 189);
  color: #fff;
}

.popupLinks a span {
  color:rgb(146, 146, 146);
  position:absolute;
  font-family:sans-serif;
  bottom:0;
  left:-25px;
  right:-25px;
  padding:5px 7px;
  z-index:-1;
  border: 1px solid rgb(194, 194, 194);
  font-size:14px;
  border-radius:3px;
  background:white;
  visibility:hidden;
  opacity:0;
  transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.popupLinks a span:before {
  content:'';
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid rgb(148, 148, 148);
  position:absolute;
  bottom:-5px;
  left:40px;
}

.popupLinks a:hover span {
  bottom:50px;
  visibility:visible;
  opacity:1;
}

.popupLinks a:nth-of-type(1):before {
content:'\f004';
}
.popupLinks a:nth-of-type(2):before {
content:'\f006';
}
.popupLinks a:nth-of-type(3):before {
content:'\e9b3';
}
.popupLinks a:nth-of-type(4):before {
content:"\e9a5";
}